.services {  
  margin: 0 auto;
  padding-top: 115px;
  padding-bottom: 115px;
  background-color: #4e3b24;
  color: #8E8A7E;

  max-width: 1440px;
}

.our-services-header {  

  text-align: center;
  font-size: 46px;
  letter-spacing: 1px;
}

.slider-images {  
  padding-top: 50px;
  justify-content: space-around;
  
}

.slide-image {
  width: 250px;
}

.slide h4 {
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
  font-size: 21px;
}

.slider-images {  display: flex;}


.get-notified {
  margin-top: 220px;
}

.get-notified h3 {
  text-align: center;
  font-size: 27px;
}


.send-notification input, button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.name-field, .phone-field {
  margin: 10px;

  padding-top: 10px;
  padding-right: 150px;
  padding-bottom: 10px;
  padding-left: 14px;

  font-size: 23px;

  outline: none;
  border: 2px solid #BB9457;
  border-radius: 5px;
  background-color: transparent;
}

.send-btn {
  padding-top: 10px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 10px;

  font-size: 23px;

  outline: none;
  border: 2px solid #BD4519;
  border-radius: 5px;
  background-color: #cd6326;
  color: #F7F7F7;
}