
/* Header */

.header {
  width: 1440px;
  padding-top: 15px;
  padding-bottom: 15px;


  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: #8E8A7E;
  background-color: #2F2821;
}


/* Logo */

.logo {
  margin: 0 30px;
  align-items: center;

  width: auto;
  display: flex;
}

.logo-pic {
  width: 70px;
}

.logo-text {
  
  
  color: #8E8A7E;
  font-size: 34px;
  text-transform: uppercase;
  line-height: 28px;
}

.logo h4 {
  margin: 0;
  letter-spacing: 6px;
} 

.logo h5 {
  margin: 0;
  color: #BD4519;
}

/* Navigation panel */

.nav-panel {
  margin: 0;
  padding: 10px 0;
  align-items: center;
  
  display: flex;

  list-style-type: none;
  font-size: 23px;
}

.nav-panel li {
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;

  font-size: 23px;
}

.order-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;

  box-sizing: border-box;

  border: 2px solid #BD4519;
  border-radius: 5px;
  background-color: transparent;
  font-size: 23px;

  transition-duration: .3s;
}

.services-link, .contacts-link {
  transition-duration: .3s;
}

.services-link:hover,
.contacts-link:hover {
  cursor: pointer;
  color: #BD4519;
  transition-duration: .4s;
}

.order-btn:hover {
  cursor: pointer;
  background-color: #BD4519;
  transition-duration: .4s;

  color: #F7F7F7;
}